<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatty</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="row" id="app">
    <div class="col-md-2">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-user">
        </span>
        Online ({{ connectedUsers.length }})
      </div>
      <ul class="chat" v-for="users in connectedUsers">
        <li>
          {{ users }} &nbsp; <span v-if="userIsTyping(users)" class="glyphicon glyphicon-pencil">..</span>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <div id="livechat-container">
          <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;Lets Chat
              </div>
              <div class="panel-body">
                <ul class="chat" id="messages">
                    <li v-for="message in messages" class="left clearfix">
                        <div class="info" v-if="message.type == 'info' ">
                            User1 has Joined
                        </div>
                        <div v-if="message.type == 'chat' ">
                          <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                          </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                  <strong class="primary-font">{{ message.user }}</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>&nbsp {{ message.timestamp }}</small>
                                </div>
                                <p>
                                    {{ message.text }}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
              </div>

        
        <div class="panel-footer">
          <form @submit.prevent="send()">
            <input v-model="message.text" @keyup="usersAreTyping" @keyup.13="stoppedTyping('13')" type="text" class="form-control input-lg" placeholder="Escribe aquí..">
          </form>
        </div>

        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="js/app.js"></script>
</html>